<h2>Edit your profile</h2>
</div>
<form method="POST" class="form">
        {{#fullProfile}}
        <input name="first" placeholder="First name" value="{{first}}">
        <input name="last" placeholder="Last name" value="{{last}}">
        <input name="email" placeholder="email" value="{{email}}">
        <input name="password" placeholder="******">
        <input name="age" placeholder="age" value="{{age}}">
        <input name="city" placeholder="city" value="{{city}}">
        <input name="url" placeholder="url" value="{{url}}">
        {{/fullProfile}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" class="button"> Submit</button>
</form>