<h2>everyone of these signers want free chocolate\q</h2>

<p>We the undersigned demand 1kg chcolate for free for all german citizens</p>

<ul class="signers">
    {{#names}}
    <li>
     {{#if url}}
     <a href="{{url}}" target="_blank">{{first}} {{last}}, </a>
        {{else}}
            {{first}} {{last}},
    {{/if}}
    {{age}} 
    <a href="/signers/{{city}}">{{city}}</a>
    {{/names}}
</ul>